#uissform {
	visibility:visible;
}

div.legend {
 font-weight: bold; 
 font-size: 20px;
 padding-left: 20px;
}

td.logo {
	background-image:url(../images/uiss.gif);
	background-repeat:no-repeat;
}

div.fieldset {
	top: 80px;
	margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 50px;
}

div#formnav {
	position: relative;
	top: -40px;
	left: 40px;
}
div#buttonholder {
  position:absolute;
}

#addresses {
	visibility:visible;
	elevation:above;
}

td {
	border-collapse: separate;
	vertical-align: top;
}

th {
	text-align:left;
	font-size: 1.0em;
}

table {
	width: 50%;
  margin: 0px;
	padding: 0px;
	line-height: 1.4em;
}

table table {
	width:auto;
}

body {
	font-family: "Verdana";
	font-size: 0.8em;
}

td.fill-in, span.fill-in {
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

td.label {
	font-size: 0.7em;
	font-weight: 700;
	line-height: 0.7em;
	padding-bottom: 10px;
}
p.attend {

}
p.remark, td.remark {
	font-size: 0.7em;
	color: #FF0000;
}
p {
	padding-left: 20px;
}
p.disclaimer {
	color: red;
}
span.small {
	font-size: 0.7em;
}
td.sup, tr.sup {
	line-height: normal;
}
#e-mail {
	width: 60em;
}
#photo {
	width: 60em;
}

.foutje {
	color: red;
}
